<div id="buttonGrid">
  <div class="buttonRow">
    <button id="meshadjust7" class="btn" data-bind="click: function() {adjustMesh(0.0, 2.0, -0.01)}, enable: movementEnabled()"/>
    <button id="meshadjust8" class="btn icon-arrow-up" data-bind="click: function() {adjustMesh(1.0, 2.0, -0.01)}, enable: movementEnabled()"/>
    <button id="meshadjust9" class="btn" data-bind="click: function() {adjustMesh(2.0, 2.0, -0.01)}, enable: movementEnabled()"/>
  </div>
  <br>
  <div class="buttonRow">
    <button id="meshadjust4" class="btn icon-arrow-left" data-bind="click: function() {adjustMesh(0.0, 1.0, -0.01)}, enable: movementEnabled()"/>
    <button id="meshadjust5" class="btn" data-bind="click: function() {adjustMesh(1.0, 1.0, -0.01)}, enable: movementEnabled()">-</button>
    <button id="meshadjust6" class="btn icon-arrow-right" data-bind="click: function() {adjustMesh(2.0, 1.0, -0.01)}, enable: movementEnabled()"/>
  </div>
  <br>
  <div class="buttonRow">
    <button id="meshadjust1" class="btn" data-bind="click: function() {adjustMesh(0.0, 0.0, -0.01)}, enable: movementEnabled()"/>
    <button id="meshadjust2" class="btn icon-arrow-down" data-bind="click: function() {adjustMesh(1.0, 0.0, -0.01)}, enable: movementEnabled()"/>
    <button id="meshadjust3" class="btn" data-bind="click: function() {adjustMesh(2.0, 0.0, -0.01)}, enable: movementEnabled()"/>
  </div>
</div>

<div id="buttonGrid">
  <div class="buttonRow">
    <button id="meshadjusta7" class="btn" data-bind="click: function() {adjustMesh(0.0, 2.0, 0.01)}, enable: movementEnabled()"/>
    <button id="meshadjusta8" class="btn icon-arrow-up" data-bind="click: function() {adjustMesh(1.0, 2.0, 0.01)}, enable: movementEnabled()"/>
    <button id="meshadjusta9" class="btn" data-bind="click: function() {adjustMesh(2.0, 2.0, 0.01)}, enable: movementEnabled()"/>
  </div>
  <br>
  <div class="buttonRow">
    <button id="meshadjusta4" class="btn icon-arrow-left" data-bind="click: function() {adjustMesh(0.0, 1.0, 0.01)}, enable: movementEnabled()"/>
    <button id="meshadjusta5" class="btn" data-bind="click: function() {adjustMesh(1.0, 1.0, 0.01)}, enable: movementEnabled()">+</button>
    <button id="meshadjusta6" class="btn icon-arrow-right" data-bind="click: function() {adjustMesh(2.0, 1.0, 0.01)}, enable: movementEnabled()"/>
  </div>
  <br>
  <div class="buttonRow">
    <button id="meshadjusta1" class="btn" data-bind="click: function() {adjustMesh(0.0, 0.0, 0.01)}, enable: movementEnabled()"/>
    <button id="meshadjusta2" class="btn icon-arrow-down" data-bind="click: function() {adjustMesh(1.0, 0.0, 0.01)}, enable: movementEnabled()"/>
    <button id="meshadjusta3" class="btn" data-bind="click: function() {adjustMesh(2.0, 0.0, 0.01)}, enable: movementEnabled()"/>
  </div>
</div>